.header {
    margin-top: 3em;
}

.last-fm {
    padding: 2em 0;
}

.last-fm-inputs {
    padding-top: 1em;    
}

.last-fm-list .week-header {
    padding-left: 0.5em;
}

.last-fm-table-container {
    padding-left: 1em;
}

footer {
    padding-top: 2em;
    text-align: center;
}